<p id="notice"><%= notice %></p>

<p>
  <h2>
    <span style="background-color: <%= @todo_list.color %>" class="dot"></span>
    <%= @todo_list.title %>
  </h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %> |
<%= link_to 'Add Activity', new_todo_list_todo_list_activity_path(@todo_list) %>

<p>
  <%= render 'todo_list_activities/todo_list_activity' %>
</p>
