<p id="notice"><%= notice %></p>

<p>
  <h2>
    <span style="background-color: <%= @todo_list.color %>" class="dot"></span>
    <%= @todo_list.title %>
  </h2>
</p>

<p>
  <%= @todo_list.description %>
  <br />
</p>
<br />
<p>
  <%= link_to 'âœï¸ Edit', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'ðŸ”™ Back', todo_lists_path %> |
  <%= link_to 'âž• Activity', new_todo_list_todo_list_activity_path(@todo_list) %>
</p>

<p>
  <%= render 'todo_list_activities/todo_list_activity' %>
</p>
