<h2>
  <span style="background-color: <%= @todo_list.color %>" class="dot"></span>
  <%= @todo_list.title %>
</h2>

<%= form_with(model: [@todo_list, todo_list_activity]) do |form| %>
  <% if todo_list_activity.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(todo_list_activity.errors.count, "error") %> prohibited this todo_list_activity from being saved:</h3>

      <ul>
        <% todo_list_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :todo_list_id, value: @todo_list.id %>
 
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority %>
  </div>

  <div class="field">
    <%= form.label :limit_date %>
    <%= form.datetime_select :limit_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
