<table>
  <thead>
    <tr>
      <th title="Priority">🔥</th>
      <th>Title</th>
      <th>Limit date</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_list_activities.each do |todo_list_activity| %>
      <tr>
        <td><%= todo_list_activity.priority %></td>
        <td><%= link_to todo_list_activity.title, edit_todo_list_todo_list_activity_path(todo_list_id: @todo_list.id, id: todo_list_activity.id) %></td>
        <td><%= todo_list_activity.limit_date.to_s(:human_us) %></td>
        <td><%= todo_list_activity.description %></td>
        <td><%= link_to 'Destroy', todo_list_todo_list_activity_path(todo_list_id: @todo_list.id, id: todo_list_activity.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo List Activity', new_todo_list_todo_list_activity_path(@todo_list) %>
